<!DOCTYPE html>
<html>

<head>
    <title>Passport with Sequelize</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1><%= message %> </h1>
    <h1><%= success %> </h1>
    <h2>Dashboard</h2>
    <h2>
        <%= username %> 
        's orders.</h2>
    <h3>
    <a href="/addorder">Add order</a>
    </h3>
    <br>
    <h3>
    <a href="/logout">Log out</a>
    </h3>
    <br>
</body>

</html>