<!DOCTYPE html>
<html>
<head>
    <title>Add Book to DataBase</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div id="orders_list">

    <input class="search" />


  <% for (const i in data) { %>
    <ul class="list">ORDER NR <%= data[i].dataValues.order_id %>  </ul>
    <% for (const key in data[i].dataValues) { %>
     <li><%= data[i].dataValues[key] %> dół
       <p class="email"></p>
       <% } %>
     </li>
    </ul>
  </div>    
    <% } %>



</body>

</html>