<!DOCTYPE html>
<html>
<head>
    <title>Add Book to DataBase</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div id="orders_list">

    <input class="search" />


  <% for (const order in data) { %>
    <ul class="list"><%= order.order_id %> </ul>
    <% for (const key in order) { %>
     <li><%= order.order_id %>
      <h3 class="name"><%= order[key] %></h3>
      <% } %>
       <p class="email"></p>
     </li>
    </ul>
  </div>    
    <% } %>



</body>

</html>